.config/kitty/kitty-themes

# Ignore everything in claude package
claude/.claude/*

# But keep these files
!claude/.claude/settings.json
!claude/.claude/CLAUDE.md
!claude/.claude/commands/
!claude/.claude/commands/**
